{% extends 'base.html' %}



{% block content %}
<div class="card m-2" style="width: 18rem;">
  <img src="{{e.image.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{e.title}}</h5> 
    <p class="card-text">{{e.description}}</p>

        <p class="card-text">Organisateur : <strong>{{e.organisateur}}</strong> </p>
        <p class="card-text">Date : {{e.evt_date}}</p>

    <a href="{% url 'join'  e.id   %}" class="btn btn-primary  {% if btn %} disabled {% endif %}">Participer</a>

        <a href="{% url 'cancel' e.id %}" class="btn btn-danger {% if not btn %} disabled {% endif %}  ">Cancel</a>

  </div>
</div>


{% endblock %}