{% extends 'base.html' %}


{% block content %}


<div class="d-flex p-5">
{% for e in events %}


<div class="card m-2" style="width: 18rem;">
  <img src="{{e.image.url}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{e.title}}</h5>
    <p class="card-text">{{e.description}}</p>

        <p class="card-text">Organisateur : <strong>{{e.organisateur}}</strong> </p>
        <p class="card-text">Date : {{e.evt_date}}</p>
        <p class="card-text">Number of participants : {{e.nbr_participants}}</p>

    <a href="{% url 'detailsEvent' e.id  %}" class="btn btn-primary">Details</a>

        <a href="{% url 'updateEvent' e.id  %}" class="btn btn-warning">update</a>


                <a href="{% url 'deleteEvent' e.id  %}" class="btn btn-danger">Delete</a>

  </div>
</div>


{% endfor %}

</div>
{% endblock %}